<!-- <div [formGroup]="address">
    <div *ngFor="let name of objectKeys(formConfig)">
            {{formConfig[name].name}}: 
        <div *ngIf="formConfig[name].type === types.INPUT_TEXT">
            <input type="text" [formControlName]="name">
        </div>
        <div *ngIf="formConfig[name].type === types.INPUT_NUMBER">
            <input type="number" [formControlName]="name">
        </div>
        <div *ngIf="formConfig[name].type === types.TEXTAREA">
            <textarea [formControlName]="name">Insert here text</textarea>
        </div>
    </div>
</div> -->

<!-- <iframe appIframeTracker (iframeClick)="onIframeClick()" src="http://www.google.com"></iframe> -->